
.title{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family:monospace; 
    font-size: 70px;
}
.poster-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.poster-format img{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 15px solid gold;
    margin: auto;
    
}
.poster-format div{
    color: white;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.poster-format p{
    margin-bottom: 20px;
    color: white;
    font-family: monospace;
    font-size: 17px;
    max-width: 400px;
    display: flex;
    overflow-wrap: break-all;
    justify-content:center;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
@media (min-width: 768px) {
    .movie-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }